@import "tailwindcss";

@source inline("{shadow-none,shadow-sm,shadow-md,shadow-lg,shadow-xl,shadow-2xl}");
@source inline("{text-sm,text-md,text-lg,text-xl,text-2xl,text-3xl,text-4xl,text-5xl,text-6xl}");
@source inline("{bg-background,bg-foreground,bg-secondary,text-background,text-foreground,text-secondary,border-background,border-foreground,border-secondary}");

:root {
  --background: #282828;
  --foreground: #ebdbb2;
  --secondary: #3c3836;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
